<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="DataTables-1.13.4/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Document</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="form-group col-md">
                <label for="formNamaProduk">Nama Produk</label>
                <input type="text" name="" id="formNamaProduk" class="form-control" placeholder="Nama Produk"
                    aria-describedby="helpId">
                <label for="formKeterangan">Keterangan</label>
                <input type="text" name="" id="formKeterangan" class="form-control" placeholder="Keterangan"
                    aria-describedby="helpId">
                <label for="formHarga">Harga</label>
                <input type="number" name="" id="formHarga" class="form-control" placeholder="Harga"
                    aria-describedby="helpId">
                <label for="formJumlah">Jumlah</label>
                <input type="number" name="" id="formJumlah" class="form-control" placeholder="Jumlah"
                    aria-describedby="helpId">

                <button type="button" name="" onclick="tambahProduk().done(alert('success'));" id="buttonTambah" class="btn btn-primary tn-lg btn-block mt-4">Tambah</button>
            </div>

        </div>
    </div>



    <div class="container">
        <div class="row">
            <div class="col-md">


                <table id="mytable" class="table">
                    <thead>
                        <tr>
                            <th>Nama Produk</th>
                            <th>Keterangan</th>
                            <th>Harga</th>
                            <th>Jumlah</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>



            </div>
        </div>
    </div>



    <script src="jQuery-3.6.0/jquery-3.6.0.min.js"></script>
    <script src="DataTables-1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>


    <script>
        $

        function tambahProduk() {
            
            let formNamaProduk = $("#formNamaProduk").val();
            let formKeterangan = $("#formKeterangan").val();
            let formHarga = $("#formHarga").val();
            let formJumlah = $("#formJumlah").val();

            // console.log(formNamaProduk+formKeterangan+formHarga+formJumlah)

            $.ajax({
                url: "/insertProduk",
                method: "POST",
                data: {
                    namaProduk: formNamaProduk,
                    keterangan: formKeterangan,
                    harga: formHarga,
                    jumlah: formJumlah
                }


            });

            location.reload(true);
        }



        $.ajax({
            url: "/selectAll",
            method: "GET",
            dataType: "json",
            success: function (data) {
                // console.table(data)
                for (list of data) {
                    console.log(list)
                    let table = document.getElementById("mytable");
                    let row = table.insertRow(-1);
                    let cell1 = row.insertCell(0);
                    let cell2 = row.insertCell(1);
                    let cell3 = row.insertCell(2);
                    let cell4 = row.insertCell(3);
                    // let cell5 = row.insertCell(4);

                    cell1.innerHTML = list.nama_produk;
                    cell2.innerHTML = list.keterangan;
                    cell3.innerHTML = list.harga;
                    cell4.innerHTML = list.jumlah;


                }
            }
        });



    </script>

</body>

</html>